form.signup,
form.login {
  margin-top: 50px;
}

#search-btn {
  margin-top: 10px;
  margin-left: 10px;
}

.adjust-margin {
  margin-left: 10px;
}

#welcome-user {
  position: fixed;
  top: 100px;
}

#main-link {
  position: fixed;
}

#playlist-link {
  position: fixed;
  top: 365px;
}
