form.signup,
form.login {
  margin-top: 50px;
}

#search-btn {
  margin-top: 10px;
  margin-left: 10px;
}

.adjust-margin {
  margin-left: 10px;
}

#welcome-user {
  position: fixed;
  top: 100px;
}

#main-link {
  position: fixed;
}

#playlist-link {
  position: fixed;
  top: 365px;
}

#main-header {
  margin-bottom: 50px;
}

#run-search {
  padding: 25px 50px;
  background-color: black;
  color: white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

#sorting-header {
  margin-left: 5px;
}

#main-navbar {
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 30px;
}